.player {
  width: 240px;
  height: 380px;
  border: 2px solid #808080;
  padding: 0 20px;
  margin: 0 70px;
  .name {
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
    color: #00ced1;
    font-weight: bold;
  }
  .img {
    text-align: center;
    img {
      border-radius: 50%;
      width: 150px;
      border: 2px solid #f0f8ff;
      background-color: #dbe4eb;
    }
  }
  .score {
    font-size: 24px;
    padding: 20px 0;
    span{
      font-weight: bold;
    }
  }
  .roll-btn {
    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    color: #fff;
    background-color: #808080;
    border: none;
  }
  .roll-btn.active {
    background-color: #198754;
    cursor: pointer;
  }
  .roll-btn.active:hover {
    background-color: #157347;
  }
}

.player.winner {
  background: #198754;
  color: #fff;
  .name {
    color: #fff;
  }
}